html {
	padding-right: 5%;
	padding-left: 5%;
}
body {
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	overflow: auto;
}
div {
	height : 200px;
	width: 100%;
}
@font-face {
	font-family: Glametrix, GlametrixBold, GlametrixLight, RawengulkSans-094;
	src:url("../font/Glametrix.otf") format("opentype");
	src:url("../font/GlametrixBold.otf") format("opentype");
	src:url("../font/GlametrixLight.otf") format("opentype");
	src:url("../font/RawengulkSans-094.otf") format("opentype");
}
@media only screen and (min-width: 1px) and (max-width: 320px) and (orientation: landscape){
	#body{
		zoom: 0.30;
		overflow: auto;
	}
}
@media only screen and (min-width: 321px) and (max-width: 1440px) and (orientation: landscape){
	#body{
		zoom: 0.70;
		overflow: auto;
	}
}
@media only screen and (min-width: 1441px)and (max-width: 1600px) and (orientation: landscape){
	#body{
		zoom: 0.85;
		overflow: auto;
	}
}

/* ------------------------------------------------------------Header Section-------------------------------------*/
.logo {
	background: url(../../img/logo.jpg) top left no-repeat;
	width: 320px;
	height: 115px;
	margin: 0 18 0 18;
	float: left;
	text-indent: -9999px;
}

/*-------------------------------------------------------------Content Section------------------------------------*/
h2#master{
	text-indent: -9999px;
}
h3#sub{
	text-indent: -9999px;
}
/*-------------------------------------------------------------Footer Section------------------------------------*/
ul#footer_nav{
	text-align: center;
}
ul#footer_nav li{
	display: inline-block;
	width: auto;
	position: relative;
}
ul#footer_nav li a{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #969696;
	text-decoration: none;
	padding: 25px 25px;
	vertical-align: middle;
	display: table-cell;
	white-space: nowrap;
}
ul#footer_nav li a:hover{
	color: black;
}

/* -------------------------------------------------------Sidebar Navigation Elements------------------------------*/
ul#concept {
	text-align: right;
	position: relative;
	top: -40%;
}
ul#concept li{
	display: inline-block;
	width: auto;
	position: relative;
}
ul#concept li a{
	font-family: Helvetica, Arial, sans-serif;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	word-spacing: 2px;
	white-space: nowrap;
	font-size: 14px;
	color: grey;
	border-right: 1px solid lightgrey;
	text-decoration: none;
	padding: 15px 15px;

}
ul#concept li.c1:hover {
	transition:background-color ease-in 0.6s;
	background-color: #01b7a4;

}
ul#concept li.c2:hover {
	transition:background-color ease-in 0.6s;
	background-color: #ee3a6d;

}
ul#concept li.c3:hover {
	transition:background-color ease-in 0.6s;
	background-color: #016ABC;

}
ul#concept li.c4:hover {
	transition:background-color ease-in 0.6s;
	background-color: orange;

}
ul#concept li.c5:hover {
	transition:background-color ease-in 0.6s;
	background-color: #abbe0f;

}
ul#concept li a:hover{
	color: #ffffff;
}

/* ---------------------------------------------------------Header Navigation Elements------------------------------*/
ul#nav {
	background-color: rgb(255,255,255,0);
	list-style: none;
	text-align: right;
	position: relative;
	top: 70%;
	z-index: 5;
}
ul#nav li{
	display: inline-block;
	width: auto;
	position: relative;
	float: none;
	margin: 0 10 0 10;
}
ul#nav li a{
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	color: #575757;
	text-decoration: none;
	padding: 5px 5px;
	transition:background-color ease-in 0.25s;
}
ul#nav li a:hover {
	color: white;
	background-color: black;
}
ul#lang_set {
	text-align: right;
	position: relative;
	top: -30%;
}
ul#lang_set li a {
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: lightgray ;
	text-decoration: none;
}
ul#lang_set li a:hover{
	color: black;
}

/*--------------------------------------------------------Content Elements------------------------------------------------*/
#content_box{
	margin-top:50%;
	overflow-y: auto;
}
#content_title{
	color: #5E5E5E;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	padding: 10px;
	display: inline-block;
	text-decoration: underline;
}
#content_subtitle{
	color: #A3A3A3;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: lighter;
	font-style: italic;
	text-align: left;
	margin: 0 0 0 10;
	display: block;
}
#content_text {
	text-align: center;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	text-align: left;
	line-height: 18px;
	padding: 10px 35px;
}

/*--------------------------------------------------------Structure Elements------------------------------------------------*/

#header_container {
	background: white;
	min-width: 100%;
	height: 50%;
	border-bottom: 1px solid lightgray;
}
#submenu {
	background: none;
	width: 100%;
	height: 50%;
	margin-bottom: 2.5%;
}
#content {
	background: url(../../img/render.jpg) top left no-repeat;
	background-size: 100%;
	min-width: 100%;
	min-height: 900px;
	margin-top: -10%;
	margin-bottom: -10%;
}
#footer_container {
	background: white;
	max-height: 50px;
	min-width: 100%;
	margin-top: 15%;
	border-top: 1px  solid lightgray;
}